table {
  thead {
    tr {
      th {
        &.sortable {
          white-space: nowrap;
          cursor: pointer;
          .heading {
            display: inline-block;
            padding-right: 8px;
          }
        }
      }
    }
  }
}
