header {
    background: rgba(0,0,0,0.05);
    padding: 1em 0;

    img {
        display: inline-block;
        margin-right: 1em;
    }
}

.nav {
    font-size: 14px;

    a.nav-link {
        color: #000;
        transition: all 0.3s;

        &:hover {
            color: #000;
            text-decoration: underline;
        }
    }

}