$national_assembly: #6befc5;
$ncop: #73a6ef;
$presidency: #af78ea;
$joint: #f7b267;

body {
    overflow-x: hidden;
    font-size: 12px;
}

.sidebar {
    position: sticky;
    top: 0;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.status-toggle {
    font-weight: 600;

    .event-type-icon {
        font-size: 2em;
    }

    .form-check-input {
        font-size: 1.5em;
        background-color: #ebebeb;
        margin-left: 0 !important;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000'/%3e%3c/svg%3e") !important;
        cursor: pointer;

        &:checked {
            background-color: #000;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
        }
    }
}

.clear-all {
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

.feedback-btn {
    margin-top: 2em;
    border-radius: 100px;
    background: linear-gradient(0deg, #001489 0%, #001489 100%), #FFF;
    display: inline-flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}


.page-body, .insights-box {
    padding-left: 2em !important;
    
    

    h2 {
        font-size: 14px;
        font-weight: 600;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 1em 0;

        svg {
            margin-right: 1em;
        }
    }

   
}

.page-body {
    &.maximise {
        padding-left: 0 !important;
    }
}

.parliament-select {
    padding: 1em 1.2em;
    border-radius: 35px;
    width: 100%;
    text-align: left;
    background-color: rgba(0,0,0,0.05);
    color: #000;
    border: none;

    &::after {
        display: none;
    }
}


.bills-table {
    width: 100%;
    position: relative;
    

    thead {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 999; 


        th {
            padding: 0.3em 0.5em;
        }

        .bill-name {
            width: 20%;
        }

        .bill-days {
            width: 5%;
            cursor: pointer;
        }

        .bill-meetings {
            width: 5%;
        }

        .bill-epm-trend {
            padding-left: 15px;
            width: 150px;
            white-space: nowrap;

            .svg-inline--fa {
                width: 1.3em !important;
                height: 1.3em !important;
                margin-left: 0.5em;
                cursor: pointer;
                transition: all 0.2s;

                &:hover {
                    color: #333;
                }
            }
        }


        .bill-timeline {
            width: 60% !important;
            padding-top: 0.7em;

            .form-range-container {
                position: relative;
                

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: -5px;
                    width: 12px;
                    height: 12px;
                    background-color: #acacac;
                    z-index: 99;
                    border-radius: 50%;
                    transform: translateY(-50%);
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: -5px;
                    width: 12px;
                    height: 12px;
                    background-color: #acacac;
                    z-index: 99;
                    border-radius: 50%;
                    transform: translateY(-50%);
                }
            }

            .timeline-control {
                display: inline-block;
                margin-left: 0.5em;
                cursor: pointer;
                position: relative;
                top: -0.3em;

                .dropdown-select button {
                    width: 1.6em;
                    height: 1.6em;
                    padding: 0.4em;
                    position: relative;
                    top: -0.5em;

                    svg {
                        font-size: 0.9em;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

        }
    }

    tbody {
        
        .bill-row {
            &:hover {
                background-color: rgba(0,0,0,0.01)
            }

            td {
                padding: 0 0.5em;
                vertical-align: middle;
                
            }
        }

        .bill-name {
            border-radius: 5px 0 0 5px;
            position: relative;
            white-space: nowrap;
        }

        


        .bill-epm-trend {
            padding-left: 15px !important;

            .epm-count {
                display: inline-block;
                width: 20px;
            }

            .react-sparklines-wrapper {
                display: inline-block;
                margin-left: 0.5em;
            }
        }
       

        
        
        .bill-timeline {
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            
            &::after {
                content: '';
                display: block;
                width: 20px;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0.2));
                z-index: 9999;
            }

            .bill-progress {
                margin-left: -1em;
                padding-left: 1.2em;
                height: 16px;
                transform: translateY(-50%);
                background-color: #ebebeb;
                position: absolute;
                

                .house-group {
                    top: 50%;
                    height: 16px;
                    border-radius: 5px;
                    display: inline-block;
                    line-height: 0;
                    width: auto;
                    transition: all 0.5s;
                    
                }

                .event {
                    margin-left: 1.2em;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    z-index: 99;
                    font-size: 16px;
                    transition: all 0.5s;

                    .event-type-icon {
                        border: 1px solid #fff !important;
                    }

                    .dummy-event, .today {
                        width: 2px;
                        height: 10px;
                        border-radius: 0;
                        background-color: red;
                    }

                    .today {
                        background-color: transparent;
                    }

                }

            }

            border-radius: 5px 0 0 5px;
        }
    }
    
    tfoot {
        background-color: rgba(255,255,255,0.9);
        position: sticky;
        bottom: 0;
        z-index: 999;

        .bill-tracker-legend {
            margin-top: 1em;
            white-space: nowrap;
        }

        .legend-title {
            font-weight: 600;
            padding-right: 2.5em;
        }

        .legend {
            margin: 0 1em 0 0;

            .legend-block {
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-right: 0.5em;
                border-radius: 3px;
                position: relative;
                top: 1px;
            }

            .legend-label {
                display: inline-block;
            }
        }

        td {
            padding: 1em 0.5em;
        }

        .footer-timeline {
            position: relative;
            padding: 0 !important;
            overflow: hidden;
            
        }

        .footer-timeline-wrapper {
            position: absolute;
            width: 100%;
            overflow: visible;
            

            .rc-slider {
                left: 0.7em;
                top: -1.5em;
            }
        }
    }

    .group-header {
        
        th {
            padding: 1em 0.5em;
            font-size: 1.2em;

            
        }
      
        &.sticky {
          position: sticky;
          top: 0; 
          z-index: 100; 
        }
    }

   
    
}

.insights-box {
    padding: 2em 1em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px;
    margin-top: 2em;

    
}

.xAxis {
    margin-left: 0.6em;
    bottom: 1.2em;
    width: 100%;
    position: relative;    
    white-space: nowrap;
    border-top: 1px solid #000;

    .tick {
        font-size: 10px;
        color: #333;
        position: absolute;
        top: 0px;
        border-left: 1px solid #000;
        height: 5px;
        transition: left 0.5s;

        .label {
            transform: translate(-50%, 40%);

        }
    }
}


.NA {
    background-color: $national_assembly;
}

.NCOP {
    background-color: $ncop;
}

.President {
    background-color: $presidency;
}

.Joint {
    background-color: $joint;
}

// TOOLTIP

.bill-tooltip, .event-tooltip, .epm-tooltip {
    position: absolute;
    transform: translate(-50%, -105%);
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    z-index: 999999;
    min-width: 350px;
    max-width: 450px;
    opacity: 0;
    transition: all 0.3s;

    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 100%;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     border: 5px solid transparent;
    //     border-top-color: #fff;
    // }

    h2 {
        font-size: 14px;
        font-weight: 600;
    }

    th, td {
        padding: 0.2em 0;
    }

    td {
        text-align: right;
    }
}

.epm-tooltip {
    width: 200px;
}

.modal-dialog {
    width: 700px !important;
    max-width: 700px !important;
}

.bill-stats {
    .stats-table {
        td {
            text-align: right;
        }
    }

    .alert {
        background-color:  #ebebeb;
        border-radius: 5px;

        a {
            color: #000;
        }
    }

    h4 {
        font-size: 1.1em;
        font-weight: 600;
        margin-bottom: 1.5em;
    }

}

.insights-box {
    padding: 0.5em 1em !important;
    margin-top: -0.5em;

    table {
        td {
            padding: 0.2em 0;
            text-align: right;

        }
    }
}

