.attendance-breakdown {
   height: 120px;
}

.attendance-breakdown.all-parties {
    height: 20px;
    margin-top: 1em;
}

.attendance-category {
    display: inline-block;
    height: 100%;
}


.attendance-block {
    position: relative;
    height: 100%;
    display: inline-block;
}

.attendance-block-inner {
    position: absolute;
    bottom: -13px;
    width: 120px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    display: flex;


    .attendance-label {
        width: 50%;
        text-align: center;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right:10px;
        font-size: 12px;
    }

    .attendance-count {
        width: 50%;
        text-align: left;
    }


}

.all-parties .attendance-block-inner {
    display: none;
}

.attendance-attended {
    background-color: #b7eb9f;
}

.attendance-arrived-late {
    background-color: #ad7aed;
}

.attendance-arrived-late-departed-early {
    background-color: #76a8f2;
}

.attendance-departed-early {
    background-color: #77efc5;
}

.attendance-absent-with-apologies {
    background-color: #ffc794;
}

.attendance-absent {
    background-color: #ffa694;
}

.attendance-separator {
    position: absolute;
    right: 0;
    height: 150px;
    bottom: 0;
    border-right: 1px solid #000;
    width: 0;

    .attendance-separator-arrow {
        
       
    }

    .attendance-separator-present {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-110%);
        white-space: nowrap;
    }

    .attendance-separator-absent {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(10%);
        white-space: nowrap;
    }
}

.all-parties .attendance-separator {
    height: 20px;
    top: 0;
    bottom: unset;

    .attendance-separator-present {
        display: none;
    }

    .attendance-separator-absent {
        display: none;
    }
}


