* {
  color: rgba(0, 0, 0, 1);
}

header {
  background-color: rgb(242, 242, 242);
  box-shadow: inset 0 -10px 10px -10px #0000001a;
}

table {
  width: 100%;
  font-size: 10px;
  font-weight: 400;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);

  tr {
    td {
      padding: 2px 18px 2px 2px;

      &.no-padding-horizontal {
        padding-right: 0;
        padding-left: 0;
      }

      &:last-child {
        padding-right: 2px;
      }
    }
  }

  thead {
    position: sticky;
    top: 0;
    tr {
      th {
        background-color: rgba(255, 255, 255, 0.9);
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 12.1px;
        text-align: left;
        padding: 10px 20px 10px 0;

        &:last-child {
          padding-right: 0;
        }

        &.membersOrParty {
          white-space: nowrap;
        }

        &.text-align-right {
          text-align: right;
        }
      }
    }
  }

  tbody {
    tr {
      &:hover {
        td {
          background-color: #0000000a;

          &:first-child {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
          }

          &:last-child {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
          }
        }
      }
    }
  }

  tfoot {
    position: sticky;
    bottom: 0;

    tr {
      td {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px 0 20px 0;
        .stateLegend {
          display: flex;
          padding: 0;
          margin: 0;
          list-style: none;

          li {
            display: flex;
            align-items: center;
            font-size: 10px;
            font-weight: 400;
            line-height: 12.1px;
            padding: 5px 10px 0 0;

            .bar {
              display: inline-block;
              height: 12px;
              width: 12px;
              border-radius: 100%;
              font-size: 0;
              background-color: #f0f0f0;
              margin-right: 5px;

              &.state-P,
              &.state-attended {
                background-color: #8ae56199;
              }

              &.state-A,
              &.state-missed {
                background-color: #ffa694;
              }

              &.state-AP {
                background-color: #ffc794;
              }

              &.state-DE {
                background-color: #77efc4;
              }

              &.state-L {
                background-color: #77a8f2;
              }

              &.state-LDE {
                background-color: #ad7aed;
              }

              &.state-U {
                background-color: #b5b5b5;
              }
            }
          }
        }
      }
    }
  }
}

.dotted-border-right {
  //border-right: dashed 1px #000;
  background-image: url("data:image/svg+xml,%3csvg width='2' height='328' viewBox='0 0 2 328' fill='none' xmlns='http://www.w3.org/2000/svg'><path opacity='0.6' d='M1.00001 0L0.999986 328' stroke='black' stroke-dasharray='2 2'/>%3c/svg%3e");
  background-repeat: repeat-y;
  background-position: center;
  padding: 0;
  width: 1px;
  overflow: hidden;
}

.bar-background {
  background-color: #0000000a;
  border-radius: 2px;
  width: 100%;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;

  &.align-right {
    direction: rtl;
  }

  &.no-border-radius-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.no-border-radius-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.half {
    //width: 50%;

    &.align-right {
      text-align: right;
    }

    &:hover {
      background-color: #0000000a;
    }
  }

  .bar {
    cursor: default !important;
    color: #00000099;
    border-radius: 2px;
    display: inline-block;
    height: 16px;
    padding: 0 4px 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.state-grouping-missed {
      background-color: #ffa694;
    }

    &.state-grouping-attended {
      background-color: #8ae56199;
    }

    &.state-grouping-unknown {
      background-color: #b5b5b5;
    }

    &.state-P {
      margin-right: 1px;
    }

    &.state-more-than-average {
      background-color: #8ae561;
      overflow: visible;
    }

    &.state-less-than-average {
      background-color: #ffa694;
      overflow: visible !important;
      text-align: right;
      direction: ltr;
    }
  }
}

.detailed {
  .bar-background {
    &.align-right {
      direction: rtl;
    }
    .bar {
      cursor: pointer !important;
      margin-right: 1px;

      &:last-child {
        margin-right: 0;
      }

      &.state-more-than-average {
        background-color: #8ae561;
        overflow: visible;
      }

      &.state-less-than-average {
        background-color: #ffa694;
        overflow: visible !important;
        text-align: right;
        direction: ltr;
      }

      &.state-P {
        background-color: #8ae56199;
      }

      &.state-A {
        background-color: #ffa694;
      }

      &.state-AP {
        background-color: #ffc794;
      }

      &.state-DE {
        background-color: #77efc4;
      }

      &.state-L {
        background-color: #77a8f2;
      }

      &.state-LDE {
        background-color: #ad7aed;
      }

      &.state-U {
        background-color: #b5b5b5;
      }
    }
  }
}

.state-highlighting-on {
  .state-P,
  .state-A,
  .state-AP,
  .state-DE,
  .state-L,
  .state-LDE,
  .state-U {
    opacity: 0.25;
  }

  .state-highlighted {
    opacity: 1;
  }
}

.no-word-break {
  white-space: nowrap;
}

h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: left;
}

.percentageAttendance {
  font-weight: 700;
}

.input-pre-icon {
  display: inline-block;
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  opacity: 0.3;
}

.memberSearch {
  border: none;
  width: Fixed (100px) px;
  height: Fill (36px) px;
  padding: 12px 20px 12px 40px;
  gap: 10px;
  border-radius: 20px;
  background-color: #f0f0f0;
}

.toggleButtonGroup {
  border-radius: 20px;
  background-color: #f0f0f0;

  button {
    border: none;
    width: Fixed (100px) px;
    height: Fill (36px) px;
    padding: 12px 20px 12px 20px;
    gap: 10px;
    border-radius: 35px;

    &.active {
      background-color: #000000;
      color: #ffffff;
    }
  }
}

.attendance-tooltip {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  left: 50%;
  line-height: 14.4px;
  line-height: normal;
  margin-top: -15px;
  opacity: 1;
  padding: 1em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -100%);
  white-space: normal;
  max-width: 300px;

  .tooltip-title {
    font-weight: 600;
    padding: 4px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    border: 5px solid transparent;
    border-top-color: #fff;
  }

  .chip {
    background: #000000;
    height: 18px;
    padding: 3px 5px 3px 5px;
    gap: 10px;
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    font-family: Inter;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    margin-bottom: 6px;
  }

  table {
    margin: 0;
    border-bottom: none;

    tbody {
      tr {
        td {
          white-space: nowrap;
          padding: 4px;

          &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }

          &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }

          &.text-align-right {
            text-align: right;
          }
        }

        &.state-P,
        &.state-attended {
          td {
            background-color: #8ae56199;
          }
        }

        &.state-A,
        &.state-missed {
          td {
            background-color: #ffa694;
          }
        }

        &.state-AP {
          td {
            background-color: #ffc794;
          }
        }

        &.state-DE {
          td {
            background-color: #77efc4;
          }
        }

        &.state-L {
          td {
            background-color: #77a8f2;
          }
        }

        &.state-LDE {
          td {
            background-color: #ad7aed;
          }
        }

        &.state-U {
          td {
            background-color: #b5b5b5;
          }
        }
      }
    }
  }
}

.parliamentSelector {
  max-width: 225px;
  border-radius: 0;
  background-color: #dfdfdf;
}

.sectionHeader {
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em 0;

  svg {
    margin-right: 1em;
  }
}

.no-button {
  .accordion-button {
    pointer-events: none;
    &::after {
      background-image: unset;
    }
  }
}

.dropdown-item {
  overflow: hidden;
  text-overflow: ellipsis;
}
