.dashboard-card {
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
    position: relative;
    height: 100%;
}

.faded {
    opacity: 0.3;
}

h3 {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}



.card-big-text {
    font-size: 21px;
    font-weight: 500;
}

.card-badge {
    background-color: rgba(0,0,0,0.1);
    padding: 5px;
    font-size: 11px;
    font-weight: 400;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -4px;
}

.party_member_badge {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    display: inline-block;
    margin: 0 10px 0 0;
    background-size: cover;
}

