$general_sans_400: 'General Sans Regular', sans-serif;
$general_sans_400_italic: 'General Sans Italic', sans-serif;
$general_sans_200: 'General Sans Extralight', sans-serif;
$general_sans_200_italic: 'General Sans Extralight Italic', sans-serif;
$general_sans_300: 'General Sans Light', sans-serif;
$general_sans_300_italic: 'General Sans Light Italic', sans-serif;
$general_sans_500: 'General Sans Medium', sans-serif;
$general_sans_500_italic: 'General Sans Medium Italic', sans-serif;
$general_sans_600: 'General Sans Semibold', sans-serif;
$general_sans_600_italic: 'General Sans Semibold Italic', sans-serif;
$general_sans_700: 'General Sans Bold', sans-serif;
$general_sans_700_italic: 'General Sans Bold Italic', sans-serif;

.dashboard-card {
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
    position: relative;
    height: 100%;
}

.faded {
    opacity: 0.3;
}

h3 {
    font-family: $general_sans_500 !important;
    font-size: 14px;
    margin: 0;
}



.card-big-text {
    font-size: 24px;
    font-family: $general_sans_500 !important;
}

.card-badge {
    background-color: rgba(0,0,0,0.1);
    padding: 5px;
    font-size: 11px;
    font-weight: 400;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -4px;
}

.party_member_badge {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    display: inline-block;
    margin: 0 10px 0 0;
    background-size: cover;
}

